
.menu{
  display: none;
}
.two-flexes {
  min-width: 0;
  display: grid;
  grid-template-columns:  repeat(1, 1fr);
  row-gap: 20px;
  margin: 1.6rem;
}
@media (min-width: 1023px) {
  .two-flexes {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    padding: 0 12.5rem;
  }
}

.job-card {
  background: #fff;
  padding: 0.25rem 1.875rem 1.875rem;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(15, 23, 42, 0.06);
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 200px;
  margin: auto;
}
h2,
h3 {
  color: #0077b6;
  text-align: center;
  font-weight: bolder;
  font-size: larger;
  margin: 0;
}

.company {
  color: #6b7280;
  text-align: center;
  font-weight: bolder;
  font-size: larger;
}

.location {
  color: #0f62fe;
  text-align: center;
  font-weight: bolder;
  font-size: larger;
  padding-top: 0.125rem;
  margin: auto;
}
.apply-link {
  margin-top: auto;
  display: inline-block;
  background: #0f62fe;
  color: white;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  opacity: 0.7;
  margin: 0.75rem;
}

.apply-link:active {
  opacity: 0.9;
}
main {
  background-color: white;
}

.container {
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
details {
  color: red;
  padding: 0 2.6rem;
}
summary {
  position: relative;
  color: #0f62fe;
  font-size: 2.5rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
}
summary::after { content: "";
   position: absolute;
   background: linear-gradient(45deg, #0f62fe, rgb(252, 120, 120)); 
   height: 4px;
   width: 140px;
   top: 50px;
   left: 46%;
   }
   @media (max-width:768px) {
    summary::after{
      display: none;
      width: 110px;
      left: 29%;
    }
   }

.nav {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.prev,
.next,
.home {
  text-align: center;
  padding: 8px 14px;
  background: #0f62fe;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
}
.type{
  text-align: center;
  color: red;
}
