
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.two-flexes {
  display: grid;
  grid-template-columns:  repeat(1, 1fr);
  justify-items: center;
  row-gap: 20px;
  margin: 1.6rem;
  width: 100%;
}
@media (min-width: 1023px) {
  .two-flexes {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 50px;
    column-gap: 10px;
    width: 70%;
    align-self: center; 
  }
}
@media (width: 768px) {
  .two-flexes {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 30px;
  }
}
.job-card {
  background: #fff;
  padding: 0.25rem 1.875rem 1.875rem;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(15, 23, 42, 0.06);
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 200px;
  margin: auto;
}
h2,
h3 {
  color: #0077b6;
  text-align: center;
  font-weight: bolder;
  font-size: larger;
  margin: 0;
}

.company {
  color: #6b7280;
  text-align: center;
  font-weight: bolder;
  font-size: larger;
}

.location {
  color: #0f62fe;
  text-align: center;
  font-weight: bolder;
  font-size: larger;
  padding-top: 0.125rem;
  margin: auto;
}
.apply-link {
  margin-top: auto;
  display: inline-block;
  background: #0f62fe;
  color: white;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  opacity: 0.7;
  margin: 0.75rem;
}

.apply-link:active {
  opacity: 0.9;
}
main {
  background-color: white;
}

.container {
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
details {
  color: red;
}

summary {
  position: relative;
  color: #0f62fe;
  font-size: 2.5rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
}

summary::after {
  content: "";
  position: absolute;
  background: linear-gradient(45deg, #0f62fe, rgb(252, 120, 120));
  height: 4px;
  width: 100%;
  bottom: 3%;
  left: 0;
  border-radius: 3px;
}
.hamburger {
  min-width: 50px;
  height: 50px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  border-radius: 50%;
  background: #f3f4f5;
  border: none;
  box-shadow: 0 6px 18px rgba(15, 23, 42, 0.2);
}

.hamburger-container {
  margin-right: 20px;
}

.nav {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.prev,
.next,
.home {
  text-align: center;
  padding: 8px 14px;
  background: #0f62fe;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
}
